* text=auto eol=lf

tests/** linguist-vendored
aux/**   linguist-vendored

src/**/*.c    linguist-language=C
src/**/*.h    linguist-language=C
src/**/*.cpp  linguist-language=C++
src/**/*.cc  linguist-language=C++
src/**/*.hpp  linguist-language=C++
src/**/*.hh  linguist-language=C++

include/**/*.h    linguist-language=C
include/**/*.hpp  linguist-language=C++
include/**/*.hh  linguist-language=C++
